header{
    text-align:left;
    padding:5px;
    background-color:#8498C9;
    /* border:1px solid red; */
    border-radius: 4px 4px 4px 4px;


}
footer{
    margin-top:5px;
    border-radius: 4px 4px 4px 4px;
    background:#8498C9;
    padding:3px;
}

a{
    text-decoration:none;

}
.header{
    text-decoration:none;

}

body{
    background-color:#DAE1F3;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color:  #7784A6;
    color: #DAE1F3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}


ul#menu li a:hover {
    background-color: #415A98;
    color:white;
}
ul#menu-diller li{
    display:inline;
}
ul#menu-diller li a {
    background-color:  #7784A6;
    color: #DAE1F3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;

}
ul#menu-diller li a:hover {
    background-color: #415A98;
    color:white;
}

#layout{overflow:hidden;
    background: #C0CEF3;
    border-radius: 4px 4px 4px 4px;
    width:1280px;
}



#result {
    /* background-color: #C7E3E4; */
    margin: 5px 205px 5px 205px;


}

.auto{
    margin:5px;
    border:1px solid #415A98;
    border-radius: 4px 4px 4px 4px;
    background-color:#DAE1F3;
    width:800px;
    padding:5px;
}
