/* Окно */
.photo {
    margin: auto;
}

table {
    border-spacing: 15px 15px ;
    margin:auto;
}

table tbody tr td p.main-foto {
    font:12px Tahoma, sans-serif;
    margin:5px;
}

caption {
    border-bottom:1px solid rgb(169, 169, 169);
    padding:3px;
}

.photoCar{
    float: left;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 140px;
} 
.modal_close{position: absolute;right: -6%;width: 80px;}
.modal_delete{
    position: absolute;right: 68%;width: 75px;
}
div.photoCar img {
    max-width: 200px;
    max-height: 140px;
    /*width: 200px;*/
    /*border: 1px solid rgb(169, 169, 169);*/
}
    .photoCarDel{
        position: absolute;
         bottom: 75%;
          right:1%;
          line-height: 1px;
      }
    #modal_form1 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы*/

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form2 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form3 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form4 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form5 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form6 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form7 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
    #modal_form8 {
        width: 80%;
        height: 10%; /* Размеры должны быть фиксированы */

        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: absolute; /* чтобы окно было в видимой зоне в любом месте */
        margin-top: -20%;
        margin-left: 0px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
        display: none; /* в обычном состоянии окна не должно быть */
        opacity: 0; /* полностью прозрачно для анимирования */
        z-index: 5; /* окно должно быть наиболее большем слое */
        padding: 20px 10px;
    }
