
header{
	text-align:left;
	padding:5px;
	background-color:#8498C9;
	border-radius: 4px;
	height: 100px;
}

footer{
	margin-top:5px;
	border-radius: 4px;
	background:#8498C9;
	padding:3px;
}

a{
	text-decoration:none;
}

.header{
	text-decoration:none;
}

body{
	color: #424343;
	font: 14px Tahoma, sans-serif;
	background-color: #f8f8f8;
}

#wrapper{
	max-width:960px;
	margin:auto;
}
nav ul {
	padding: 0;
}

nav ul li {
	display: inline-flex;
}

nav ul li a {
	background-color:  #7784A6;
	color: #DAE1F3;
	padding: 10px 20px;
	text-decoration: none;
	border-bottom: 2px solid #7784A6;
	border-radius: 4px;
}
nav ul.menu{
	background-color:#7784A6 ;
	border-radius: 4px; 
}

nav ul li a:hover {
	color:white;
	border-bottom: 2px solid #ee5557;
}

#layout{overflow:hidden;
	border-radius: 4px;
	max-width:100%;
}

aside{
	width:200px;
	background-color: white;
	position: 
	border-radius: 4px;
	float:left;
	margin-top:5px;
	border:1px solid #415A98;
}

#search{
	margin: 5px;
}

#result {
	margin: 5px 205px 5px 205px;
}

#baner-right{
	width:200px;
	border-radius: 4px;
	float: right;
	margin-top:5px;
	margin-right:5px;
}
.auto{
	margin:5px;
	border:1px solid #415A98;
	border-radius: 4px;
	background-color:white;
	padding:5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.info{
	overflow:hidden;
	font:600 12px/20px san-serif;
	border-bottom: 1px solid #415A98;
	border-top: 1px solid #415A98;
}
.town{
	width:100px;
	float:left;
	padding:3px;
}
.diller{
	margin: 0px 210px 0px 110px;
	padding:3px;
}
.phone-number{
	width:200px;
	float:right;
	padding:3px;
}

.details {
	text-align:right;
	margin:5px;
	color: #424343;
	padding:3px;
}

a.more:hover{
	color:black;
	font: bold 12px/14px ;
	border-bottom:1px solid #ee5557;
	background-color: #f8f8f8;

}
.model{
	text-align:left;
	color:black;
	margin:5px;
	padding:5px;
	font: bold 14px/14px  serif;
	border-bottom: 1px solid  #415A98;
}
.model:hover{
	border-bottom:1px solid #ee5557;
	background-color: #f8f8f8;
}
a.model-link{
	color:black;
}

img {
	float:left; 
	margin:5px;
	display:block;
	max-width:100%;
}

div.foto-185x120{
	float:left;
	width:200px;
}

div.model-info {
	padding:5px;
	margin:5px 5px 5px 220px;
	font:400 14px/30px san-serif;
}
.model-info-data{
	font: 600 16px  serif;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

ul.pagination li a.active {
	background-color: #415A98;
	color: white;
	border: 1px solid #415A98;
}
 
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
div.page {
	text-align:center;
}

button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	border-radius:4px ;
	width:20%;
	padding:5px;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
}
button:hover {
	background: #415A98;

}
form select {
	width: 100%;
	color:#424343;
	background-color:  #f8f8f8;
	padding:5px;
	margin:3px 0px;
}
input[type="text"] {
	background-color:  #f8f8f8;
	margin:3px 0px;
	border:1px solid #A9A9A9;		
	padding:5px 2px;
}
.register-group{
	border:0;
	float: right;
}
.register-group label {
	color: #648880;
	cursor: pointer;
	font-weight: 400;

}
.register-group input {
	border: 1px solid #c6c9cc;
	border-radius: 4px;
	color: #888;
	padding: 5px 8px;
}

.btn-default {
	float:right;
	border: 0;
	border-radius:4px;
	background: #29c5e6;
	color:#DAE1F3;
	width: 50%;
}

.btn-default:hover {
	background: #415A98;
}
.login{
	float:right;
}
div.login a:hover {
	border-bottom:1px solid #ee5557;
}

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}
footer h3 {
	font: 14px 'Oswald', sans-serif;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

footer p {
	margin: 5px 0;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}
/*Добавил для моего аккаунат*/


ul#menu li a:hover {
	background-color: #415A98;
	color:white;
}
ul#menu-diller {
	background-color: #29c5e6;
	padding: 10px;
	border-radius: 4px ;
}
ul#menu-diller li{
	display:inline;

}
ul#menu-diller li a {
	background-color:  #29c5e6;
	color: #DAE1F3;
	padding: 10px 50px;
	text-decoration: none;
	border-radius: 4px;
}

ul#menu-diller li a:hover {
	background-color: #415A98;
	color:white;
}

.diller-info{
	/*border-bottom: 1px solid  #415A98; */
	padding:5px;
	margin:5px 5px 5px 20px;
}

div#dealer_data {
	border-bottom: 1px solid  #415A98;
}

button.more{
	margin: 10px 0px	10px 0px;
}

p {
	margin-bottom: 2px;
	font: 600 12px Tahoma, sans-serif;
}

div#contact_persons_data0 button {
	margin-top: 5px;
}

h4 {
	margin: 5px 5px 5px 20px;
	border-bottom: 1px solid  #415A98;
}
h5 {
	margin: 10px 0px 10px 0px;
}
input#id_price_from,  input#id_price_to  {
	width: 45%;
}
button.btn.btn-primary.btn-lg {
	width:100%;
}
.img_photo{
	max-height: 160px;
	max-width: 100%;
}
.fix_position_of_search{
	position: fixed;
	top: 63px;
}
.to_top{
	position: fixed;
	top: 0px;
	width: 960px;
}

.help_div{
	height: 50px;
}