
header{
    text-align:left;
    padding:5px;
    background-color:#8498C9;
    /* border:1px solid red; */
    border-radius: 4px;
    height: 100px;
}

footer{
    margin-top:5px;
    border-radius: 4px;
    background:#8498C9;
    padding:3px;
}

a{
    text-decoration:none;
}

h5{
    margin:10px 10px 10px 220px;
}

.header{
    text-decoration:none;
}

body{
    color: #424343;
    font: 14px Tahoma, sans-serif;
    background-color: #f8f8f8;
    /*rder-top: 5px solid #7e7e7e;
    margin: 0;*/
}

#wrapper{
    max-width:960px;
    margin:auto;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    background-color:  #7784A6;
    color: #DAE1F3;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 2px solid #7784A6;
    border-radius: 4px;
}

nav ul.menu{
    background-color:#7784A6 ;
    border-radius: 4px;
}

nav ul li a:hover {
    /*ckground-color: #415A98;*/
    color:white;
    border-bottom: 2px solid #ee5557;
}

#layout{overflow:hidden;
    /*background: url(img/background2.jpg)red;*/
    border-radius: 4px;
    max-width:100%;
}

aside{
    width:200px;
    background-color: white;
    position:
    border-radius: 4px;
    float:left;
    margin-top:5px;
    border:1px solid #415A98;
    /*margin-left:5px;*/
    /*box-shadow : 0 0 10px rgba(0,0,0,0.5);*/
    /*padding:5px;*/
}

#search{
    margin: 5px;
}

#result {
    /*background-color: #C7E3E4;*/
    margin: 5px 205px 5px 205px;
    /* background:gray; */
}

#baner-right{
    width:200px;
    /*background-color:#DAE1F3;*/
    border-radius: 4px;
    /*border: 1px solid #415A98;*/
    float: right;
    margin-top:5px;
    margin-right:5px;
}

.auto{
    margin:5px;
    border:1px solid #415A98;
    border-radius: 4px;
    background-color:white;
    /* width:600px; */
    padding:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.info{
    /* color:red; */
    /* border:red; */
    overflow:hidden;
    /* margin-top:50px; */
    font:600 12px/20px san-serif;
    /*background-color:#8498C9;*/
    /*border-radius: 4px;*/
    border-bottom: 1px solid #415A98;
    border-top: 1px solid #415A98;
}

.town{
    width:100px;
    float:left;
    /*border:1px solid red; */
    padding:3px;
}

.diller{
    margin: 0px 210px 0px 110px;
    /*border:1px solid red; */
    padding:3px;
}

.phone-number{
    width:200px;
    float:right;
    /*border:1px solid red; */

    padding:3px;
}

.details {
    /*background:#8498C9;*/
    text-align:right;
    margin:5px;
    color: #424343;
    padding:3px;
    /*border-radius:4px;*/
}

.more{
    color: #2d0cf5;
}
a.more:hover{
    color:black;
    /*font: bold 12px/14px ;*/
    border-bottom:1px solid #ee5557;
    background-color: #f8f8f8;

}

.model{
    /*background-color:#8498C9;*/
    text-align:left;
    color:black;
    margin:5px;
    padding:5px;
    font: bold 14px/14px  serif;
    /* border:1px solid black; */
    /*border-radius: 4px 4px 4px 4px;*/
    border-bottom: 1px solid  #415A98;
}

.model:hover{
    border-bottom:1px solid #ee5557;
    background-color: #f8f8f8;
}

a.model-link{
    color:black;
}


.car_photo{
    float:left;
    /* height: 120px; */
    /* width: 185px; */
    margin:5px;
    display:block;
    max-width:100%;
    max-height: 160px;
    /* padding:5px 5px 5px 5px; */
    /* border: 3px solid red; */
}


.banner {
    float:left;
    /* height: 120px; */
    /* width: 185px; */
    margin:5px;
    display:block;
    max-width:100%;
    /* padding:5px 5px 5px 5px; */
    /* border: 3px solid red; */

}

div.foto-185x120{
    float:left;
    width:200px;
}

div.model-info {
    /* color:green; */
    /* line-height:30px; */
    /* border:1px solid red; */
    /* border-radius: 4px 4px 4px 4px; */
    padding:5px;
    margin:5px 5px 5px 220px;
    font:400 14px/30px san-serif;
}

.model-info-data{
    font: 600 16px  serif;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #415A98;
    color: white;
    border: 1px solid #415A98;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
div.page {
    text-align:center;
}
/*input[type="text"] {
background-color: #f3f3f3;
border: 1px solid #e7e7e7;
height: 30px;
color: #b2b2b2;
padding: 0 10px;
vertical-align: top;*/

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    border-radius:4px ;
    width:75%;
    padding:5px;
    font-family: 'Oswald', sans-serif;
}

form select {
    width:75%;
    color:#424343;
    background-color:  #f8f8f8;
    padding:5px;
    margin:3px 0px;
}

input[type="text"] {
    background-color:  #f8f8f8;
    margin:3px 0px;
    border:1px solid #A9A9A9;
    padding:5px 2px;

}

.register-group{
    border:0;
    float: right;
}

.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
    /*float:right;*/

}

.register-group input {
    border: 1px solid #c6c9cc;
    border-radius: 4px;
    color: #888;
    /*display: block;*/
    /*margin: auto;*/
    padding: 5px 8px;
    /*width: 60%;*/
    /*font-size: 40px;*/
    /*margin-bottom:10px;*/
}

.btn-default {
    float:right;
    border: 0;
    border-radius:4px;
    background: #29c5e6;
    /*padding: 11px 30px;*/
    /*font-size: 40px;*/
    color:#DAE1F3;
    width: 50%;
    /*margin: auto;*/
    /*display:block;*/
}

.btn-default:hover {
    background: #415A98;
}

.login{
    float:right;
}

div.login a:hover {
    border-bottom:1px solid #ee5557;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

footer h3 {
    font: 14px 'Oswald', sans-serif;
    /*color: #fff;*/
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
}

footer p {
    margin: 5px 0;
}

#sitemap {
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}

#sitemap div {
    display: inline-block;
}

#sitemap div + div {
    margin-left: 40px;
}

#sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

#sitemap a:hover {
    text-decoration: underline;
}

#footer-logo {
    float: right;
    margin-top: 20px;
    font-size: 10px;
    text-align: right;
}
.fix_position_of_search{
    position: fixed;
    top: 63px;
}

.to_top{
    position: fixed;
    top: 0px;
    width: 960px;
}

.help_div{
    height: 50px;
}