
header{
    text-align:left;
    padding:5px;
    background-color:#8498C9;
    border-radius: 4px;
    height: 100px;
}

footer{
    margin-top:5px;
    border-radius: 4px;
    background:#8498C9;
    padding:3px;
    text-align: center;
}

h3{
    margin-bottom:1px;
}

a{
    text-decoration:none;
}

.header{
    text-decoration:none;
}

body{
    color: #424343;
    font: 14px Tahoma, sans-serif;
    background-color: #f8f8f8;
}

#wrapper{
    max-width:960px;
    margin:auto;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    background-color:  #7784A6;
    color: #DAE1F3;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 2px solid #7784A6;
    border-radius: 4px;
}

nav ul.menu{
    background-color:#7784A6 ;
    border-radius: 4px; 
}

nav ul li a:hover {
    color:white;
    border-bottom: 2px solid #ee5557;
}

#layout{
    overflow:hidden;
    border-radius: 4px;
    max-width:100%;
}

#result {
    margin: 5px 205px 5px 0px;
}

#baner-right{
    width:200px;
    border-radius: 4px;
    float: right;
    margin-top:5px;
    margin-right:5px;
}

.auto{
    margin:5px;
    border:1px solid #415A98;
    border-radius: 4px;
    background-color:white;
    padding:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.container{
    width: 75%;
    margin:auto;
}

h3.addCar{
    border-bottom:1px solid rgb(169, 169, 169);
    padding: 5px;
}

a.more{
    background:#8498C9;
    text-align:right;
    margin:5px 5px 10px 5px;
    color:#DAE1F3;
    padding:3px;
    border-radius:4px;
}

a.more:hover{
    color:white;
}

button.button-main {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    border-radius:4px ;
    width:100%;
    padding:5px;
    font: 400 20px 'Oswald', sans-serif;
}

button.button-main:hover {
    background-color: #415A98;
    cursor: pointer;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    border-radius:4px ;
    width:100%;
    padding:5px;
    font-family: 'Oswald', sans-serif;
}

form select {
    width:75%;
    color:#424343;
    background-color:  #f8f8f8;
    padding:5px;
    margin:3px 0px;
}

input[type="text"] {
    background-color:  #f8f8f8;
    margin:3px 0px;
    border:1px solid #A9A9A9;
    padding:5px 2px;
    width:75%;

}

textarea{
    width:75%;
}

.register-group{
    border:0;
    float: right;
}

.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.register-group input {
    border: 1px solid #c6c9cc;
    border-radius: 4px;
    color: #888;
    padding: 5px 8px;
    width: 49%;
}

.btn-default {
    float:right;
    border: 0;
    border-radius:4px;
    background: #29c5e6;
    color:#DAE1F3;
    width: 50%;
}

.btn-default:hover {
    background: #415A98;
}

.login{
    float:right;
}

div.login a:hover {
    border-bottom:1px solid #ee5557;
}
.to_top{
    position: fixed;
    top: 0px;
    width: 960px;
}

.help_div{
    height: 50px;
}
.download_level{
    position: absolute;
    top: 15%;
    left: 28%;
}
.text_massage{position: inherit;
    left: 30%;
    top: 10%;
    max-width: 57%;}


