
header{
	padding:1px;
	background-color:#8498C9;
	/* border:1px solid red; */
	border-radius: 4px 4px 4px 4px;

	
}
#search{
	position: relative;
	left: 10%;
}
footer{
	margin-top:5px;
	border-radius: 4px 4px 4px 4px;
	background:#8498C9;
	padding:3px;
}
a{
	text-decoration:none;
	}
	h5{
		margin:10px 10px 10px 220px;
	}
.header{
	text-decoration:none;
	
}

body{
	background-color:#DAE1F3;
}
ul#menu {
	position: relative;
	/* margin: auto; */
	left: 345px;
	/* position: fixed; */
	/* float: right; */
	/* float: right; */
	width: 700px;
	/* padding: 0; */
}

ul#menu li,ul#menu2 li {
    display: inline;
}

ul#menu li a {
    background-color:  #5D3175;
    color: #DAE1F3;
	padding: 5px 20px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}
ul#menu2 li a {
	background-color: #7784A6;
	color: #DAE1F3;
	padding: 0.4% 5%;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	position: relative;
	left: 204px;
	top: 5px;
}

ul#menu li a:hover {
    background-color: #415A98;
	color:white;
}

#layout{overflow:hidden;

/*background: #C0CEF3;*/
border-radius: 4px 4px 4px 4px;
}


#baner-left{
	    width: 230px;
		background-color:#DAE1F3;
		border-radius: 4px 4px 4px 4px;
		float:left;
		margin-top:5px;
		margin-left:5px;
		}
		
#result {
	/* background-color: #C7E3E4; */
	opacity: 0;
	margin: 5px 205px 5px 205px;
	position: relative;
	left: 32px;
	
	
}
#baner-right{
	    width: 21%;
	    background-color:#DAE1F3;
		border-radius: 4px 4px 4px 4px;
		float:right;
		margin-top:5px;
		margin-right:5px;
}
.auto{
	margin: 5px auto;
	border:1px solid #415A98;
	border-radius: 4px 4px 4px 4px;
	background-color:#DAE1F3;
	width:800px;
	padding:5px;
}
.info{
	/* color:red; */
	/* border:red; */
	overflow:hidden;
	/* margin-top:50px; */
	font:600 14px/20px san-serif;
	background-color:#8498C9;
	border-radius: 4px 4px 4px 4px;
}
.town{
	width:200px;
	float:left;
	/* border:1px solid red; */
	
	padding:3px;
}
.diller{
	margin: 0px 210px 0px 210px;
	/* border:1px solid red; */
	padding:3px;
}
.phone-number{
	width:200px;
	float:right;
	/* border:1px solid red; */
	
	padding:3px;
}

		
		
a.more{
	background:#8498C9;
	text-align:right;
	margin:5px 5px 10px 5px;
	color:#DAE1F3;
	padding:3px;
	border-radius:4px;
}
a.more:hover{
	color:white;
	
}
.model{
	background-color:#8498C9;
	text-align:left;
	color:black;
	margin:5px;
	padding:5px;
	font: bold 14px/14px  serif;
	/* border:1px solid black; */
	border-radius: 4px 4px 4px 4px;
}
a.model-link{
	color:black;
}
a.model-link:hover{
	color:white;
}
img.car_photo {
	max-width: 100%;
	max-height: 100%;
	  /*width: inherit;*/
      /*float:left; */
	  /*height: 120px;*/
      /*width: 185px;*/
      /*margin:5px;*/
      /*padding:5px 5px 5px 5px;*/
	  /* border: 3px solid red; */
	  
}
.foto-185x120{

	float: left;
	width: 205px;
	height: 205px;
}

div.model-info {
	/* color:green; */
	/* line-height:30px; */
	/* border:1px solid red; */
	/* border-radius: 4px 4px 4px 4px; */
	padding:5px;
	margin:5px 5px 5px 220px;
	font: 400 15px/30px sans-serif;
	position: relative;
	left: 80px
	}
	.model-info-data{
		font: 600 16px  serif;
	}
	
	ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #415A98;
    color: white;
    border: 1px solid #415A98;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
div.page {
	text-align:center;
}
		
	

