
header{
	text-align:left;
	padding:5px;
	background-color:#8498C9;
	/* border:1px solid red; */
	border-radius: 4px 4px 4px 4px;
	
	
}
footer{
	margin-top:5px;
	border-radius: 4px 4px 4px 4px;
}
a{
	text-decoration:none;
	
}
.header{
	text-decoration:none;
	
}

body{
	background-color:#DAE1F3;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color:  #7784A6;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}


ul#menu li a:hover {
    background-color: #415A98;
	color:white;
}

#layout{overflow:hidden;
background: #C0CEF3;
border-radius: 4px 4px 4px 4px;
}


#baner-left{
		width:200px;
		background-color:#DAE1F3;
		border-radius: 4px 4px 4px 4px;
		float:left;
		margin-top:5px;
		margin-left:5px;
		}
#panes{
	position: absolute;
	height: 250px;
	width: 380px;
}
#result {
	/* background-color: #C7E3E4; */
	top: 50px;
	position: inherit;
	margin: 5px 205px 5px 205px;
	
	
}
#baner-right{
		width:200px;
		background-color:#DAE1F3;
		border-radius: 4px 4px 4px 4px;
		float:right;
		margin-top:5px;
		margin-right:5px;
}
.auto{
	margin:0 auto;
	/* border:1px solid red; */
	border-radius: 4px 4px 4px 4px;
	background-color:#DAE1F3;
	width:800px;
	padding:5px;
}
.info{
	/* color:red; */
	/* border:red; */
	margin-top: 20%;
	overflow:hidden;
	font:600 14px/20px san-serif;
	background-color:#8498C9;
	border-radius: 4px 4px 4px 4px;
}
.town{
	width:200px;
	float:left;
	/* border:1px solid red; */
	
	padding:3px;
}
.diller{
	margin: 0px 210px 0px 210px;
	/* border:1px solid red; */
	padding:3px;
}
.phone-number{
	width:200px;
	float:right;
	/* border:1px solid red; */
	
	padding:3px;
}
footer {
	background-color:silver;
}
		
		

.model{
	background-color:#8498C9;
	text-align:left;
	margin:5px;
	padding:10px;
	font: bold 20px/14px  serif;
	/* border:1px solid black; */
	border-radius: 4px 4px 4px 4px;
}
.foto-380x250 {
      /* float:left;  */
	  height: 250px;
      /*width: 380px;*/
	  margin:5px;
	  padding:5px;
	  /* border: 1px solid red; */
	  
}
.foto-85x56{
	height: 56px;
      /*width: 85px;*/
	  margin:10px 5px 5px 5px;
	
}

.model-info {
	left: 15%;
	position: relative;
 	/* color:green; */
	padding:5px;
	/* line-height:30px; */
	/* border:1px solid red; */
	border-radius: 4px 4px 4px 4px;
	margin:5px 5px 5px 410px;
	font:400 14px/30px san-serif;
	
	
	}
.main-foto{
	/* border:1px solid red; */
	border-radius: 4px 4px 4px 4px;
	width:400px;
	float:left;
	/* margin:5px; */
	
	
	
}
.small-photo{
	position: relative;
	width: 500px;
	height: 50px;
	top: 250px;
}

	.small-foto{
		position: relative;
		float: left;
		/*top: -55px; /!* Сдвигаем текст вверх *!/*/
		/*left: 5px; /!* Сдвигаем текст вправо *!/*/
		margin:10px 5px 5px 5px;
	  /*padding:5px;*/
	}	
	.model-info-data{
		font: bold 16px  serif;
		
	}
	.model-info-data-coment{
		font:400 14px/20px san-serif;
		color:black;
	}
		.info-data{
			font:500 14px/20px san-serif;
		color:black;
		}
	
.arrowLeft{
	position: fixed;
	left: 5%;
	top: 30%;
	z-index: 3;
}
.arrowRight{
	position: fixed;
	left: 1100px;
	top: 30%;
	z-index: 3;
}
